@charset "utf-8";

/* slider */
#slider {width: 100%; height: 820px; margin: 0 auto; display: flex; justify-content: left; align-items: flex-start; background-color: #f8f9fd} 
.main1 {height: 100%; width: 1200px; margin: 0 auto; position: relative ; background-image: url("../img/main1.png"); background-size:765px; background-position: 96% 55%; background-repeat: no-repeat; background-color:#f8f9fd}
.mt1 {position: absolute; top: 180px; left: 150px; z-index:10 ;}
.mt1 h2 { padding:0; margin: 0 auto; font-size: 55px;text-align: left; }
.mt1 h3 {font-size: 33px; padding: 0; margin: 5px 0 0 0; text-align: left; font-weight: 100;}
.main2 {width: 100%; height: 100px; display: flex; justify-content: space-between; padding: 30px 80px; align-items: center; margin-top: 630px; }
.main2 img { width: 200px; height: 50px; }



/* 이유있는 */
#slider2 {width: 100%; margin: 0 auto; background-color: #fff066; padding-bottom: 100px;} 
.mt2 h1 {display: flex; justify-content: center; align-items: center; text-align: center; transform: translateY(50px); font-size: 50px;}
.mt2 p {display: flex; justify-content: center; transform: translateY(50px);}
.container1 {width: 100%; max-width: 1000px; margin: 30px auto 0 auto; }
.grid {display: grid; grid-template-columns: 1fr 1fr; gap:5px; margin-bottom: 10px;}
.box1 {background-color: white; border-radius:20px ; margin:70px 20px; padding: 40px 30px; box-shadow: 0 10px 20px rgba(0,0,0,0.1);}
.box2 {background-color: white; border-radius:20px ; margin:70px 20px; padding: 40px 30px; box-shadow: 0 10px 20px rgba(0,0,0,0.1);}
.box3 {background-color: white; border-radius:20px ; margin:0 20px; padding: 50px 30px; box-shadow: 0 10px 20px rgba(0,0,0,0.1);}
.box4 {background-color: white; border-radius:20px ; margin:0 20px; padding: 50px 30px; box-shadow: 0 10px 20px rgba(0,0,0,0.1);}
.box1, .box2, .box3, .box4 {margin: 15px; padding: 40px 30px; box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1); }
.box5 {background-color: #ffe25b; padding: 20px 80px; border-radius: 20px; display: flex; justify-content: space-between; gap: 40px; color: #4b4b4b; font-size: 15px; line-height: 1.5; 
        width: fit-content; margin: 25px auto; box-shadow: 0 4px 10px rgba(0,0,0,0.05);}

/* 당신을 기다리는 */
#slider3 {width: 100%; height: 880px; margin: 0 auto;} 
.mt3 {width: 100%; height: 300px; margin: 0 auto;}
.mt3 h1 {display: flex; justify-content: center; align-items: center; text-align: center; transform: translateY(50px); font-size: 50px;}
.mt3 p {display: flex; justify-content: center; transform: translateY(70px); font-size: 25px;}

.pt1 {width: 100%; height: 190px;  background-size: cover; background-image: url(../img/pt1.png); background-position: center; background-repeat: repeat-x; animation: left 200s linear infinite;}
.pt2 {width: 100%;height: 190px;  background-size: cover; background-image: url(../img/pt2.png); background-position: center; background-repeat: repeat-x; animation: right 200s linear infinite;}
.pt3 {width: 100%;height: 190px; display: block; unicode-bidi: isolate; position: relative; background-size: cover; background-image: url(../img/pt3.png); background-position: center; background-repeat: repeat-x; animation: left 200s linear infinite;}
@keyframes left {
    0% {background-position: 0 0;}100%{background-position: -10000px 0; }
}
@keyframes right {
    0% {background-position: 0 0;}100%{background-position: 10000px 0; }
}


/* 나만의 */
#slider4 {width: 100%; height: 820px; margin: 0 auto; background-color: rgb(240, 240, 240)} 
.mt4 {width: 100%; height: 320px; margin: 0 auto; background-color: rgb(240, 240, 240);} 
.mt4 h1 {display: flex; justify-content: center; align-items: center; text-align: center; transform: translateY(50px); font-size: 50px;}
.mt4 p {display: flex; justify-content: center; transform: translateY(70px); font-size: 25px;}
.vd1 {text-align: center; position: relative;}
.vd1 video {width: 800px; }
.vd1 img {position: absolute; top: 50%; left: 50%; transform: translate(-50%,-50%); width: 100px; cursor: pointer;} 

/* 싹 다 무제한 */
#slider5 {width: 100%; height: 1800px; margin: 0 auto;}
.mt5 {width: 100%; height: 250px; margin: 0 auto;}
.mt5 h1 {display: flex; justify-content: center; align-items: center; text-align: center; transform: translateY(50px); font-size: 50px;}
.mt5 p {display: flex; justify-content: center; transform: translateY(70px); font-size: 25px; }

.mt51 {width: 1100px; margin: 0 auto ; padding-top: 100px; text-align: center; height: auto; display: flex; flex-flow: row wrap;}
.mt51 h5 { width: 100%; text-align: left; margin: 0 auto; font-size: 20px; font-weight: 700;}

.book-slider1 {display: flex; justify-content: center; gap: 16px; padding: 50px 250px; scroll-snap-type: x mandatory;}
.bs1 {flex: 0 0 auto; width: 145px;  height: 210px;  scroll-snap-align: start;justify-content: center;  align-items: center; cursor: pointer; font-size: 14px; background-color: gray;}
.bs1 img {width: 100%;}

.mt52 {width: 1100px; margin: 0 auto ; padding-top:100px ; text-align: center; height: auto; display: flex; flex-flow: row wrap;}
.mt52 h5 { width: 100%; text-align: left; margin: 0 auto; font-size: 20px; font-weight: 700;}

.book-slider2 {background-color: rgb(255, 255, 255); display: flex; justify-content: center; gap: 16px; padding: 50px 250px; scroll-snap-type: x mandatory;}
.bs2 {flex: 0 0 auto; width: 145px;  height: 210px; scroll-snap-align: start;justify-content: center;  align-items: center;cursor: pointer; font-size: 15px; }
.bs2 img {width: 100%;}

.mt53 {width: 1100px; margin: 0 auto ; padding-top: 100px; text-align: center; height: auto; display: flex; flex-flow: row wrap;}
.mt53 h5 { width: 100%; text-align: left; padding: 10px 0; margin: 0 auto; font-size: 20px; font-weight: 700;}

.book-slider3 {background-color: rgb(255, 255, 255); display: flex; justify-content: center; gap: 16px; padding: 50px 250px; scroll-snap-type: x mandatory;}
.bs3 {flex: 0 0 auto; width: 145px;  height: 210px; justify-content: center;  align-items: center;cursor: pointer; font-size: 15px;}
.bs3 img {width: 100%;}



/* 끝까지 읽을책 */
#slider6 {width: 100%; height: 820px; margin: 0 auto;background-color: rgb(240, 240, 240);}
.main6 { display: flex; justify-content: center; align-items: center;}
.mt6 h1 {display: flex; justify-content: center; align-items: center; text-align: center; transform: translateY(50px); font-size: 50px;}
.mt6 p {display: flex; justify-content: center; text-align: center; transform: translateY(70px); font-size: 25px;}
.pick2 {width: 450px; }

.container6 {width: 100%; height:680px; display: flex;  align-items: center; justify-content: center; margin: 16px auto;background-color: rgb(240, 240, 240)}
.img6 { position: relative; display: flex;  align-items: center; justify-content: center; margin: 0 auto;}
.c1 { width: 450px; height: 500px; text-align: center; vertical-align: top; border-style: none; pointer-events: none; transform: translateY(-4px);}
.c2 { bottom: 0; left: 45%; position: absolute; width:  490px ; transform: translate(-50%,-50%);}
.c3 {position: absolute;transform: translate(-200%,-50%); width: 200px;}
.c4{position: absolute;transform: translate(200%,-50%); width: 200px;}
.c5 {position: absolute;transform: translate(250%,50%); width: 200px;}
.c6 {position: absolute; transform: translate(-250%,50%); width: 200px;}

/* 무제한으로 마음껏 */
#slider7 {width: 100%; height: 820px; margin: 0 auto; background-color: #fff066;}
.mt7 {width: 100%; height: 300px; margin: 0 auto; background-color: #fff066;}
.mt7 h1 {display: flex; justify-content: center; align-items: center; text-align: center; transform: translateY(50px); font-size: 50px;}
.mt7 p {display: flex; justify-content: center; transform: translateY(70px); font-size: 25px;}

.box7 {width: 1200px; padding-bottom: 200px; margin:0 auto;  height: 600px; display: flex; justify-content: center; align-items: center;background-color: #fff066;}
.mb7 {background-color: white; width: 400px; height: 400px; border-radius: 15px; box-shadow: 0 8px 16px rgba(0,0,0,0.1);  color: #333; text-align: left; display: flex; flex-direction: column; justify-content: center; align-items: self-start;  padding: 2rem 2rem 1.5rem 2rem; gap: 1rem; }
.st1 strong {font-size: 30px; font-weight: bold; }
.st1 p {color: #666; font-size: 14px; margin-top: 4px; }

.st3img {width: 40px; margin-left: 4px; vertical-align: middle;}
.st3 {display: flex; margin-bottom: 0;line-height: 1;}

.st4 { margin-top: 0px;}
.label { font-weight: bold;font-weight: 700; font-size: 18px;}
.price {font-weight: bold; font-size: 28px; margin-bottom: 4px;}
.price2 {font-size: 28px; color: black; font-weight: bold; }


.labe2 { font-weight: bold;font-weight: 700; font-size: 18px;}
.list2 {margin-top: 30px;padding-left: 16px;font-size: 12px;color: #999;}
.list li {margin-bottom: 6px;}


/* 오디오북/밀리뷰어 */
#slider8 {width: 100%; height: 900px; margin: 0 auto; background-color:rgba(241, 241, 241, 0.973); }
.odio {width: 100%; height: 120px; background-color: white;display: flex;justify-content: center;align-items: center; position: absolute; list-style: none;}

.odk{width: 400px; height: 120px;  display: flex; justify-content: center; text-align: center;  cursor: pointer; flex-direction: column; align-items: center; background-color: white;}
.odk > img { width: 40px; height: 40px; }
.odk > p { display: block;margin-top: 5px;text-align: center;}

.mr {width: 400px; height: 120px;  display: flex; text-align: center;  cursor: pointer;flex-direction: column;background-color:rgba(241, 241, 241, 0.973);align-items: center;}
.mr > img { width: 40px; margin-top: 30px;  height: 40px;}
.mr > p {  display: block;margin-top: 5px;text-align: center;}

.scon1 {width: 40px; margin-top: 150px ;}
.icon-title h1 {font-size: 50px;}
.subtitle {font-size: 25px;}
.description {font-size: 15px; margin-top: 100px;}

.sb8 {margin-top: 30px;}
.sb8 > button {margin-right: 7px; font-size: 12px; overflow: hidden; cursor: pointer; padding: 3px 20px; border: 1px solid #242424; border-radius: 100px;}
.sb81 {background-color: #242424; color: #fff !important;}

.container8 {width: 1200px; margin: 0 auto;}
.audiobook-section {display: grid;grid-template-columns: 1fr 1fr;;gap: 2rem;align-items: center;padding: 2rem;}
.audiobook-left {display: flex;flex-direction: column;gap: 1rem;}

.audiobook-right{ position: relative; width: 320px;height: 660px; display: flex;justify-content: center; align-items: center; text-align: center; }
.sm81 {width: 320px;  height: 660px;position: relative;}
.sm82 {position: absolute;top: 50px;left: 200px; width: 320px; height: 660px; transform: translateY(100px); border-radius:60px ; }
.phone {position: absolute; top: 150px; left: 200px;width: 320px;height: 660px;margin: 0;pointer-events: none; z-index: 10;}

/* 자주 묻는 */
#slider9 {width: 100%; height: 700px; margin: 0 auto; background-color:gold} 
.mt9 {display: flex; justify-content: center; align-items: center; text-align: center; transform: translateY(90px); font-size: 30px;}
.cbox2 {width: 75%; margin: 20px auto; padding:20px; background-color: white; border-radius: 20px; box-shadow: 10px 10px 40px rgba (0,0,0,0.1);}
.cbox3 {width: 75%; margin: 20px auto; padding:20px; background-color: white; border-radius: 20px; box-shadow: 10px 10px 40px rgba (0,0,0,0.1);}
.cbox4 {width: 75%; margin: 20px auto; padding:20px; background-color: white; border-radius: 20px; box-shadow: 10px 10px 40px rgba (0,0,0,0.1);}
.cbox5 {width: 75%; margin: 20px auto; padding:20px; background-color: white; border-radius: 20px; box-shadow: 10px 10px 40px rgba (0,0,0,0.1);}
.container3 {margin-top: 150px;}