@charset "utf-8";

/* slider */
#slider {width: 100%; height: 820px; margin: 0 auto; background-color: greenyellow;} 
.main1 {height: 100%; width: 1200px; margin: 0 auto; background-color: aqua;}

#slider2 {width: 100%; height: 820px; margin: 0 auto; background-color: yellow} 

#slider3 {width: 100%; height: 880px; margin: 0 auto; background-color:red} 
.text3 {width: 100%; height: 350px; margin: 0 auto; background-color: salmon;}

#slider4 {width: 100%; height: 820px; margin: 0 auto; background-color: fuchsia} 
.text4 {width: 100%; height: 350px; margin: 0 auto; background-color: palevioletred;} 

#slider5 {width: 100%; height: 1800px; margin: 0 auto; background-color:darkorange}
.text5 {width: 100%; height: 350px; margin: 0 auto; background-color:gray}

#slider6 {width: 100%; height: 820px; margin: 0 auto; background-color:darkcyan}