@charset "utf-8";

/* slider */
#slider {width: 100%; height: 820px; margin: 0 auto; display: flex; justify-content: left; align-items: flex-start; background-color: greenyellow;} 
.main1 {height: 100%; width: 1200px; margin: 0 auto; position: relative ; background-image: url("../img/main1.png"); background-size:765px; background-position: 96% 55%; background-repeat: no-repeat; background-color: aqua;}
.mt1 {position: absolute; top: 180px; left: 150px; z-index:10 ;}
.mt1 h2 { padding:0; margin: 0 auto; font-size: 55px;text-align: left; }
.mt1 h3 {font-size: 33px; padding: 0; margin: 5px 0 0 0; text-align: left; font-weight: 100;}
.main2 {width: 100%; height: 100px; display: flex; justify-content: space-between; padding: 30px 80px; align-items: center; margin-top: 630px; }
.main2 img { width: 200px; height: 50px; }



/* 이유있는 */
#slider2 {width: 100%; height: 820px; margin: 0 auto; background-color: rgb(255, 231, 18)} 
.mt2 h1 {display: flex; justify-content: center; align-items: center; text-align: center; transform: translateY(50px); font-size: 50px;}
.mt2 p {display: flex; justify-content: center; transform: translateY(50px);}

/* 당신을 기다리는 */
#slider3 {width: 100%; height: 880px; margin: 0 auto; background-color:red} 
.mt3 {width: 100%; height: 300px; margin: 0 auto; background-color: salmon;}
.mt3 h1 {display: flex; justify-content: center; align-items: center; text-align: center; transform: translateY(50px); font-size: 50px;}
.mt3 p {display: flex; justify-content: center; transform: translateY(70px); font-size: 25px;}
.pt1 {width: 100%; height: 190px;}
.pt2 {width: 100%; height: 190px;}
.pt3 {width: 100%; height: 190px;}

#slider4 {width: 100%; height: 820px; margin: 0 auto; background-color: fuchsia} 
.mt4 {width: 100%; height: 320px; margin: 0 auto; background-color: palevioletred;} 
.mt4 h1 {display: flex; justify-content: center; align-items: center; text-align: center; transform: translateY(50px); font-size: 50px;}
.mt4 p {display: flex; justify-content: center; transform: translateY(70px); font-size: 25px;}

#slider5 {width: 100%; height: 1800px; margin: 0 auto; background-color:darkorange}
.mt5 {width: 100%; height: 350px; margin: 0 auto; background-color:gray}
.mt5 h1 {display: flex; justify-content: center; align-items: center; text-align: center; transform: translateY(50px); font-size: 50px;}
.mt5 p {display: flex; justify-content: center; transform: translateY(70px); font-size: 25px;}

#slider6 {width: 100%; height: 820px; margin: 0 auto; background-color:darkcyan}
.mt6 h1 {display: flex; justify-content: center; align-items: center; text-align: center; transform: translateY(50px); font-size: 50px;}
.mt6 p {display: flex; justify-content: center; transform: translateY(70px); font-size: 25px;}

#slider7 {width: 100%; height: 820px; margin: 0 auto; background-color:gold} 
.mt7 {width: 100%; height: 350px; margin: 0 auto; background-color: salmon;}
.mt7 h1 {display: flex; justify-content: center; align-items: center; text-align: center; transform: translateY(50px); font-size: 50px;}
.mt7 p {display: flex; justify-content: center; transform: translateY(70px); font-size: 25px;}

#slider8 {width: 100%; height: 900px; margin: 0 auto; background-color:red}
.odio {width: 100%; height: 120px; margin: 0 auto; background-color: aqua;}

#slider9 {width: 100%; height: 700px; margin: 0 auto; background-color:gold} 